a{
    color: #fff;
    text-decoration: none;
}

.logo{
    width: 150px;
    height: auto;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    height: 8vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav-list a{
    position: relative;
    font-size: 15px;
    color: #31b454;
    font-weight: 500;
    margin-left: 40px;
    transition: color 0.3s;
}

.nav-list a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #31b454;
    transition: width .3s ease-in-out;
}

.nav-list a:hover::before{
    width: 100%;
}


.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media(max-width: 999px){
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: hsl(197, 80%, 48%, 25%);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.2s ease-in;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }

    .nav-list.active{
        opacity: 1;
        transform: translateX(0);
    }

    .nav-list.active li {
        opacity: 1;
        transition: opacity 0.3s ease-in;
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2 {
        opacity: 0;
    }

    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-8px, -8px);
    }
}