.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    width: 90px;
    height: auto;
}

.navbar a{
    position: relative;
    font-size: 10px;
    color: #31b454;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #31b454;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}